<h2>Shop Inventory</h2>
<hr>

<nav>
  <ul>
    <li>
      <a class="linktitle" href="/products">Display shop inventory</a>
    </li>
    <li>
      <a class="linktitle" href="/products/new">Add a new stock item</a>
    </li>
  </ul>
</nav>

<hr>

<table>
  <tr>
    <th>Product Id:</th>
    <th>Supplier Id:</th>
    <th>Name:</th>
    <th>Moel:</th>
    <th>Description:</th>
    <th>Buy Price:</th>
    <th>Sell Price:</th>
    <th>Mark up:</th>
  </tr>

<div id="">
  <% @products.each do |product| %>

<tr>

  <div class="css">
     <td> <%= product.id %> </td>
     <td> <%= product.supplier_id %> </td>
     <td> <%= product.name %> </td>
     <td> <%= product.model %> </td>
     <td> <%= product.description %> </td>
     <td> <%= product.buy_price %> </td>
     <td> <%= product.sell_price %> </td>
     <td> <%= product.sell_price.to_i - product.buy_price.to_i %> </td>
<td>
     <% if product.quantity.to_i < 3 %>
       <p id="red" > <%= product.quantity %> </p>
     <% elsif product.quantity.to_i >= 3 && product.quantity.to_i < 10 %>
       <p id="orange" > <%= product.quantity %> </p>
     <% elsif product.quantity.to_i >= 10 %>
       <p id="green" > <%= product.quantity %> </p>
</td>
     <% end %>
     <td><a class="linktitle" href="products/<%= product.id %>/edit ">Edit:</a></td>
     <form class="" action="products/<%= product.id %>/delete" method="post">
      <td><input type="submit" name="delete" value="Delete"></td>
     </form>
</tr>






  </div>

  <% end %>
</div>
