<!-- <h2>Shop Inventory</h2>
<hr>

<div id="css">
  <% @products.each do |product| %>

  <div class="css">
     <p> Id: <%= product.id %> </p>
     <p> Supplier: <%= product.supplier_id %> </p>
     <p> Name: <%= product.name %> </p>
     <p> Model: <%= product.model %> </p>
     <p> Description: <%= product.description %> </p>
     <p> Buy Price: <%= product.buy_price %> </p>
     <p> Sell Price: <%= product.sell_price %> </p>
     <p> Mark up: <%= product.sell_price.to_i - product.buy_price.to_i %> </p>

     <% if product.quantity.to_i < 3 %>
       <p id="red" > Quantity: <%= product.quantity %> </p>
     <% elsif product.quantity.to_i >= 3 && product.quantity.to_i < 10 %>
       <p id="orange" >Quantity: <%= product.quantity %> </p>
     <% elsif product.quantity.to_i >= 10 %>
       <p id="green" >Quantity: <%= product.quantity %> </p>
     <% end %>




     <hr>
  </div>

  <% end %>
</div> -->
